<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sigal.uniqa" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SIGAL UNIQA</name>
    <description>
       Aplikacioni nr.1 i sigurimeve
    </description>
    <author email="info@uniqa.al" href="https://sigal.com.al">
        SIGAL UNIQA
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>




    <plugin spec="https://github.com/apache/cordova-plugin-splashscreen.git#054387e" />
<plugin name="cordova-plugin-whitelist" spec="1.3.4" />
<plugin spec="https://github.com/phonegap/phonegap-mobile-accessibility.git#e982105" />

    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^8.0.0" />
</widget>
